p{
    font-size: 14px;
}

/* mise en page formulaire */ 

.contact{
    padding: 60px 0;
}

.form{
    float: none;
    margin: auto;
}



legend{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 2px;
}

.adress{
    text-align: center;
    margin: 40px auto 0 auto;
    float: none;
}

/* footer */

.margin-logo{
    margin: 20px auto;
}