p{
    font-size: 14px;
}

/* mise en page formulaire */ 

fieldset{
    width: 20%;
    padding: 10px;
}

label{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    width: 100%;
}

input{
    width: 50%;
}

/* footer */

.margin-logo{
    margin: 20px auto;
}