p{
    font-size: 14px;
}

/* transformation image en texte - bloc2 */

.title-bloc2{
    width: 60%;
    margin: 20px auto 40px auto;
}

.title-bloc4{
    width: 45%;
    margin: 0 auto;
}

blockquote{
    border: none;
    margin: 0 50px 10px 50px;
    font-size: 19.5px;
    font-weight: 500;
    font-style: italic;
    color: rgb(66, 66, 66);
}

blockquote small{
    font-size: 70%;
    content: none;
}

blockquote small::before{
    content: none;
}

/* mise en page formulaire */ 

.contact{
    padding: 60px 0;
}

.form{
    float: none;
    margin: auto;
}

legend{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 2px;
}

.adress{
    text-align: center;
    margin: 40px auto 0 auto;
    float: none;
}

/* footer */

.margin-logo{
    margin: 20px auto;
}